@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --primary-color: #2C3639;
    --secondary-color: #DCD7C9;
    --tertiary-color: #A27B5C;
    --hover-color: #3F4E4F;

    --primary-source: 'Krona One', sans-serif;
    --secondary-source: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.featured-title {
    color: var(--tertiary-color);
}

.header {
    padding: 2% 0% 0% 15%; 
}

.menu_header {
    display: flex;
    gap: 80px;
}

.menu_header_link {
    font-family: var(--secondary-source);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--tertiary-color);
    text-decoration: none;
}

.introduce {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.introduce__content {
     width: 50%;
     display: flex;
     flex-direction: column;
     gap: 40px;
}

.introduce__content__title {
    font-size: 2.25rem;
    font-family: var(--primary-source);
}

.introduce__content__title__paragraph {
    font-size: 1.5rem;
    font-family: var(--secondary-source);
}

.introduce__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.introduce__links__sutitle {
    font-size: 1.5rem;
    font-family: var(--primary-source);
    font-weight: 400;
}

.introduce__links__navigation {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 3px solid var(--tertiary-color);
    width: 50%;
    padding: 21.5px 0;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-family:var(--secondary-source);
    font-weight: 600;
    text-decoration: none;
    color: var(--secondary-color);

}

.introduce__links__link:hover {
    background-color: var(--hover-color);
}

.introduce__image{
    width: 50%;
}

.baseboard {
    color: var(--primary-color);
    background-color: var(--tertiary-color);
    padding: 24px;
    text-align: center;
    font-family: var(--secondary-source);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px) {

    .header{
        padding: 12%;
    }

    .menu_header{
        justify-content: center;
    }

    .introduce {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .introduce__content {
        width: auto;
    }
}